.footer{
    height: 1600px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;

}
.foot3 hr{
margin-left:-10px;
margin-top: 50px;
}
.links{
    color: white;
    
        display: flex;
        column-gap: 60px;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 25px;
    }
    .list{
        display: flex;
        margin-left: 700px;
        margin-top: -300px;
    }
    .list1 li{
        list-style: none;
    }
    .list1 ul li a{
        text-decoration: none;
        color: white;
    }


    .list2 li{
        list-style: none;
    }
    .list2 ul li a{
        text-decoration: none;
        color: white;
    }

    .list3 li{
        list-style: none;
    }
    .list3 ul li a{
        text-decoration: none;
        color: white;
    }

    .list4 li{
        list-style: none;
    }
    .list4 ul li a{
        text-decoration: none;
        color: white;
    }
    .footers{
        margin-left: 30px;
        display: flex;
        margin-top: 50px;

     
    }
    .lines{
        height: 2px;
        width: 1200px;
        background-color: wheat;
        margin-top: 150px;
        margin-left: 30px;
    
    }
    .para{
        margin-top: 60px;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;


    }

